<form method="post" class="grid-stye" action="/cashboard/merchant">

<p>Filter by Merchant</p>

  <label for="merchant-field">Merchant</label>
  <select
  name="merchant"
  id="merchant-field"
  >

  <% @merchants.each do |merchant| %>
  <option value="<%= merchant.id%>"><%= merchant.name %></option>

<% end %>
</table>
 </select>
<input type="submit" value="submit"/>


 </form>

<table class="grid-stye">
<tr class="grid-stye">
  <th class="amount">Amount</th>
  <th class="amount">Date</th>
  <th class="amount">Merchant</th>
  <th class="amount">Tag</th>
</tr>

<tr class="table-row grid">
<% @transactions.each do |transaction| %>
<td><p class="amount">£<%= transaction.amount %></p></td><td> <%= transaction.spend_date %></td><td> <%=transaction.find_by_merchant.name %></td><td> <%= transaction.find_by_tag.name.capitalize %></td>
</tr>
<% end %>
