<section class="grid aligner">
<ul class="grid-row grid-row-sm aligner">
  <li>
    <a href="/cashboard/add" class="cell aligner-item">Add a New Transaction</a>
  </li>
  <li>
    <a href="/cashboard/filter_tag" class="cell aligner-item">Search Transactions by Tag</a>
  </li>
  <li>
    <a href="/cashboard/filter_merchant" class="cell aligner-item">Search Transactions by Merchant</a>
  </li>
</ul>
</section>


<table class="grid aligner">
<tr class="table-row">
  <th>Amount</th>
  <th>Date</th>
  <th>Merchant</th>
  <th>Tag</th>
</tr>

<tr class="table-row">
<% @transactions.each do |transaction| %>
<td><%= transaction.amount %></td><td> <%= transaction.spend_date %></td><td> <%=transaction.find_by_merchant.name %></td><td> <%= transaction.find_by_tag.name %></td>
</tr>

<% end %>
</table>

<p>Total Amount spent</p>
<% total = @transactions.sum {|spend| spend.amount} %>
<p><%= total %></p>
