<body class=”show-tx”>

<section class="grid aligner tx-menu grid-stye">
<ul class="grid-row grid-row-sm aligner">
  <li>
    <a href="/cashboard/add" class=" spacing aligner-item">Add a New Transaction</a>
  </li>
  <li>
    <a href="/cashboard/filter_tag" class=" spacing aligner-item">Search by Tag</a>
  </li>
  <li>
    <a href="/cashboard/filter_merchant" class=" spacing aligner-item">Search by Merchant</a>
  </li>
</ul>
</section>


<table class="grid-stye">
<tr class="grid-stye">
  <th class="amount">Amount</th>
  <th class="amount">Date</th>
  <th class="amount">Merchant</th>
  <th class="amount">Tag</th>
</tr>

<tr class="table-row grid">
<% @transactions.each do |transaction| %>
<td><p class="amount">£<%= transaction.amount %></p></td><td> <%= transaction.spend_date %></td><td> <%=transaction.find_by_merchant.name %></td><td> <%= transaction.find_by_tag.name.capitalize %></td>
</tr>


<!-- <tr><p class="total">Total Amount spent</p>
<% total = @transactions.sum {|spend| spend.amount} %>
<p class="total" id="display-amount">£<%= total %></p></tr> -->

<% end %>
<div class="grid-stye">
<p class="total">Total Amount spent</p>
<% total = @transactions.sum {|spend| spend.amount} %>
<p class="total" id="display-amount">£<%= total %></p>
</table>
